@import "../../App.scss";

.search{
  background-color: $yellow;
  padding: 14px 0;
  .logo{
    width: 55px;
    height: 40px;
    margin-right: 25px;
  }
  .input_box{
    display: flex;
    button{
      border: none;
      height: 35px;
      width: 35px;
      border: none;
      cursor: pointer;
    }
    input{
      font-size: 18px;
      color: $gray-333;
      height: 34px;
      border: none;
      width: auto;
      width: 100%;
      padding: 0 15px;
      ::placeholder{
        color: $gray-999;
      }
      &:focus{
        box-shadow: none;
      }
    }
  }
}